// ====== Fonts ======

@font-face {
	font-family: LTSuperior;
	font-display: swap;
	src: url("../fonts/LTSuperior-Bold.woff2") format("woff2"), url("../fonts/LTSuperior-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;}
@font-face {
	font-family: LTSuperior;
	font-display: swap;
	src: url("../fonts/LTSuperior-Regular.woff2") format("woff2"), url("../fonts/LTSuperior-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: LTSuperior;
	font-display: swap;
	src: url("../fonts/LTSuperior-Medium.woff2") format("woff2"), url("../fonts/LTSuperior-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Medium.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: LTSuperior;
	font-display: swap;
	src: url("../fonts/LTSuperior-Semibold.woff2") format("woff2"), url("../fonts/LTSuperior-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;}
