.footer {
  padding-top: calc(80 * var(--width-multiplier));
  padding-bottom: calc(40 * var(--width-multiplier));
  background-color: var(--dark-2, $dark-2);
  font-size: calc(18 * var(--width-multiplier));
  line-height: 1;
  @media (max-width: 1024px) {
    padding: calc(60 * var(--width-multiplier)) 0;
  }
  &__container, &__wrap {
    display: flex;
    flex-direction: column;
    gap: calc(60 * var(--width-multiplier));
    @media (max-width: 767px) {
      align-items: center;
      gap: calc(40 * var(--width-multiplier));
      text-align: center;
    }
  }
  &__logo {
    width: calc(175 * var(--width-multiplier));
    height: calc(40 * var(--width-multiplier));
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: 1024px) {
      width: calc(130 * var(--width-multiplier));
      height: calc(30 * var(--width-multiplier));
    }
  }
  &__box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: calc(20 * var(--width-multiplier));
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: calc(60 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      gap: calc(40 * var(--width-multiplier));
    }
  }
  &__nav {
    display: flex;
    gap: calc(60 * var(--width-multiplier));
    @media (max-width: 767px) {
      flex-direction: column;
      gap: calc(15 * var(--width-multiplier));
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: calc(20 * var(--width-multiplier));
    color: var(--border-color, $border-color);
    font-size: calc(24 * var(--width-multiplier));
    line-height: 1;
    text-transform: uppercase;
    &:first-child {
      display: grid;
      grid-template-columns: repeat(4, auto);
      column-gap: calc(60 * var(--width-multiplier));
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, auto);
      }
      @media (max-width: 767px) {
        grid-template-columns: 100%;
        gap: calc(15 * var(--width-multiplier));
      }
    }
    a {
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--white, $white);
      }
    }
    @media (max-width: 1024px) {
      font-size: calc(20 * var(--width-multiplier));
    }
  }
  &__contacts {
    display: flex;
    gap: calc(40 * var(--width-multiplier));
    @media (max-width: 767px) {
      flex-direction: column;
      gap: calc(20 * var(--width-multiplier));
    }
  }
  &__col {
    &:nth-child(1) {
      .footer__list {
        max-width: calc(140 * var(--width-multiplier));
        @media (max-width: 767px) {
          margin: 0 auto;
        }
      }
    }
    &:nth-child(2) {
      .footer__caption {
        @media (max-width: 767px) {
          display: none;
        }
      }
      @media (max-width: 767px) {
        order: 1;
        margin-top: calc(20 * var(--width-multiplier));
      }
    }
  }
  &__caption {
    margin-bottom: calc(15 * var(--width-multiplier));
    font-size: calc(20 * var(--width-multiplier));
    font-weight: 500;
    line-height: 1.1em;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: calc(10 * var(--width-multiplier));
    color: var(--border-color, $border-color);
    a {
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--white, $white);
      }
    }
  }
  &__socials  {
    svg {
      display: none;
      min-width: calc(40 * var(--width-multiplier));
      width: calc(40 * var(--width-multiplier));
      height: calc(40 * var(--width-multiplier));
      pointer-events: none;
      @media (max-width: 767px) {
        display: block;
      }
    }
    span {
      @media (max-width: 767px) {
        display: none;
      }
    }
    @media (max-width: 767px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: calc(20 * var(--width-multiplier));
    }
  }
  &__copy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: calc(40 * var(--width-multiplier));
    @media (max-width: 1024px) {
      justify-content: space-between;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      gap: calc(15 * var(--width-multiplier));
    }
  }
}