@import "vars.scss";
@import "mixins.scss";

:root {
  --white: #FFFFFF;
  --dark: #1F1D1C;
  --dark-2: #2F2E2E;
  --border-color: #B7B7B7;
  --yellow: #C2E514;
  --width-base: 1920;
  --width-current: 100vw;
  --width-multiplier: var(--width-current) / var(--width-base);
}

@media(max-width: 1024px) {
    :root {
      --width-base: 768;
      --width-current: 100vmin;
    }
}

@media(max-width: 767px) {
    :root {
      --width-base: 375;
      --width-current: 100vmin;
    }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(140 * var(--width-multiplier));
}

::-webkit-scrollbar {
  width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--white, $white);
  background-color: var(--dark, $dark);
  font: 400 calc(30 * var(--width-multiplier))/1.2 LTSuperior;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  @media (max-width: 1024px) {
    font-size: calc(20 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    font-size: calc(18 * var(--width-multiplier));
  }
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:not([type="checkbox"]):not([type="radio"]), select, textarea {
  width: 100%;
  padding: calc(16 * var(--width-multiplier)) calc(18 * var(--width-multiplier));
  border: 1px solid var(--border-color, $border-color);
  border-radius: 0;
  color: var(--dark, $dark);
  background-color: var(--white, $white);
  font: inherit;
  &::placeholder {
    color: var(--border-color, $border-color);
  }
  &:focus, &:focus-visible {
    outline: none;
  }
  @media (max-width: 767px) {
    padding: calc(14 * var(--width-multiplier)) calc(18 * var(--width-multiplier));
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--white, $white) inset !important;
  box-shadow: 0 0 0 1000px var(--white, $white) inset !important;
  -webkit-text-fill-color: var(--dark, $dark) !important;
  transition: background-color 9999s ease-in-out 0s;
}

textarea {
  resize: none;
  height: calc(140 * var(--width-multiplier));
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

// ====== Typography ======

h1, h2 {
  font: 700 calc(60 * var(--width-multiplier))/1 LTSuperior;
  &.s {
    font-size: calc(36 * var(--width-multiplier));
    font-weight: 600;
    @media (max-width: 1024px) {
      font-size: calc(24 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      font-size: calc(20 * var(--width-multiplier));
    }
  }
  @media (max-width: 1024px) {
    font-size: calc(42 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    font-size: calc(36 * var(--width-multiplier));
  }
}

h3 {
  font: 600 calc(36 * var(--width-multiplier))/1 LTSuperior;
  &.s {
    font-size: calc(24 * var(--width-multiplier));
    font-weight: 600;
    @media (max-width: 1024px) {
      font-size: calc(22 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      font-size: calc(20 * var(--width-multiplier));
    }
  }
  @media (max-width: 767px) {
    font-size: calc(28 * var(--width-multiplier));
  }
}

h4 {
  font: 600 calc(24 * var(--width-multiplier))/1 LTSuperior;
}

h5 {
  font: 600 calc(20 * var(--width-multiplier))/1 LTSuperior;
}

h6 {
  font: 600 calc(18 * var(--width-multiplier))/1 LTSuperior;
}